*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   overflow-x: hidden;
   overflow-y: scroll;
}

body {
	background-color: #28abb9;
}

.nav-link {
	font-family: 'Lobster', cursive;
	font-size: 20px;
} 

#home {
	margin-left: 50px;
}

#contact {
	margin-right: 50px;
}

/*start of header*/
#header {
	background: url(./../images/web.gif);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 190vh;
}


#header h1 {
	font-family: 'Roboto Slab', serif;
	color: #ffc93c;
	font-size:4rem;
	/*font-weight: 900;*/
	margin-top: 20px;
	text-shadow: 3px 3px #ff0000;
}

#header h3 {
	font-family: 'Roboto Slab', serif;
	color: #ffc93c;
	font-weight: 900;
	margin-top: 20px;
	text-shadow: 2px 2px #ff0000;
	margin-top: 30px;
}

#header hr {
	width: 8rem;
	border: none;
	height: 4px;
	background-color: #d2e603;
	margin-left: 45%;

}


#middleNav img {
	width: 200px;
	height: 100px;
	border-radius: 100%;
}


#header .btn {
	border-radius: 25%;
	width: 20%;
	color: black;
	margin-top: 10vh;
	background-color: #f0a500;
	letter-spacing: 1px;
  font-family: 'Roboto Slab', serif;
}

#header .btn:hover {
	background-color: #ffc93c;
}


#row2 h4 {
	font-family: 'Roboto Slab', serif;
	color: #ffc93c;
	font-weight: 400;
	text-shadow: 1px 1px #ff0000;
}

#mary img {
	width: 20%;
	height: 30%;
	border-radius: 100%;
	margin-top: 100px;
}


.pinkBg {
    background-color: #ffc93c!important;
    background-image: linear-gradient(90deg, #f0a500, #d2e603);
}
.intro-banner-vdo-play-btn{
    height:20px;
    width:20px;
    position:absolute;
    top:20%;
    left:50%;
    text-align:center;
    /*top/right/bottom/left*/
    /*margin:-50px 200px 0 200px;*/
    margin-top: 150px;
    margin-right: 80px;
    margin-bottom: 0;
    margin-left: -90px;
    border-radius:100px;
    z-index:1
}
.intro-banner-vdo-play-btn i{
    line-height:56px;
    font-size:30px
}
.intro-banner-vdo-play-btn .ripple{
    position:absolute;
    width:160px;
    height:160px;
    z-index:-1;
    left:50%;
    top:50%;
    opacity:0;
    margin:-80px 0 0 -80px;
    margin
    border-radius:100px;
    -webkit-animation:ripple 1.8s infinite;
    animation:ripple 1.8s infinite
}

@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
    animation-delay:.3s;
    -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}




/*end of header*/
/*start of about*/
#about {
	height: 100vh;
	background: ;

}

#about h1{
	margin-top: 80px;
	font-family: 'Lobster', cursive;
	font-size: 60px;
	color: #ffc93c;
	text-shadow: 3px 3px #ff0000;

}

#aboutImg img{
    border-radius: 20%;
    cursor: pointer;

}

.modal img {
  height: 500px;
  width: 700px;
  cursor: pointer;
}

#aboutRow{
	margin-top: 60px;
}

#aboutRow h3 {
	font-family: 'Roboto Slab', serif;
	color: #ffc93c;
	text-shadow: 1px 1px #ff0000;
}
#aboutRow h2 {
	font-family: 'Lobster', cursive;
	color: #ffc93c;
	text-shadow: 2px 2px #ff0000;
}

#aboutRow p {
	font-family: 'Roboto Slab', serif;
}

#aboutRow li {
	color: teal;
	margin-left: 15px;

}

.order p {
	color: black;
	font-family: 'Roboto Slab', serif;
}
/*end of about*/


/*start of project*/
#project {
	/* background: url(./../images/project.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background: 
    linear-gradient(
    	rgba(222, 221, 221, 0.7),
    	rgba(0, 0, 0, 0.7)),

    url(./../images/project.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	margin-top: 100px;
	min-height: 190vh;
}

#project .pendulum {
	font-family: 'Lobster', cursive;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #ffc93c;
	text-shadow: 3px 3px #ff0000;
	font-size: 60px;
}


.base {
  width: 500px;
  border-top: 5px solid gray;
  margin: auto;
  text-align: center;
  position: relative;
  padding: 0 0 30px;
}

.holder {
  width: 30px;
  height: 20px;
  background: black;
  margin: auto;
  border-radius: 0 0 50% 50%;
}

.thread {
  display: inline-block;
  width: 2px;
  height: 250px;
  background: black;
  border-radius: 5px;
  position: relative;
  transform-origin: 50% 0;
  animation: moveIt 3.5s ease-in-out infinite;
}

.thread:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: red;
  border: 2px solid white;
  top: -4.5px;
  left: -3.5px;
}

.knob {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -18px;
  left: -4.5px;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  border-bottom: 2px solid transparent;
}

.pendulum {
   width: 250px;
  background: -moz-radial-gradient(circle at 70% 35%, white, #66d63e 30%, #40a31d 50%);
  background: -webkit-radial-gradient(circle at 70% 35%, white, #66d63e 30%, #40a31d 50%);
  background: -o-radial-gradient(circle at 70% 35%, white, #66d63e 30%, #40a31d 50%);
  background: -ms-radial-gradient(circle at 70% 35%, white, #66d63e 30%, #40a31d 50%);
  background: radial-gradient(circle at 70% 35%, white, #66d63e 30%, #40a31d 50%);
    border-radius: 10%;
    position: absolute;
    bottom: -50px;
    left: -125px;
    padding: 10px 20px;
}

/*.shadow {
  width: 30px;
  height: 15px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 50px auto 0;
  animation: moveShade 1.25s ease-in-out alternate infinite;
}*/

@keyframes moveIt {
  0%, 100% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}

/*@keyframes moveShade {
  0% {
    transform: translateX(-220px) scale(1.4, .5);
    filter: blur(20px);
  }
  50% {
    filter: blur(3px);
  }
  100% {
    transform: translateX(220px) scale(1.4, .5);
    filter: blur(20px);
  }
}*/


#project img {
	height: 20rem;
	width: 35rem;
	margin-top: 20px;
}


#project h4 {
	font-family: 'Roboto Slab', serif;
	margin-top: 20px;
	color: white;
	display: flex;
	justify-content: center;
}

/*#row3 h4 {
	font-family: 'Roboto Slab', serif;
	margin-top: 20px;
	color: white;
	margin-left: 100px;
	justify-content: center;
}*/

#project h3 {
	font-family: 'Lobster', cursive;
	color: white;
	display: flex;
	justify-content: center;
}

#project p {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 30px;
	color: white;
	display: flex;
	justify-content: center;
}

#project small {
	font-family: 'Roboto Slab', serif;
	color: white;
	display: flex;
	justify-content: center;
}



/*end of project*/

/*start of skills*/
#skills {
	height: 140vh;
	margin-top: 50px; 
	
	/*background: 
    linear-gradient(
    	rgba(17, 126, 112, 0.75),
    	rgba(0, 88, 255,0.45)),

    url(./../images/project.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/

}

#skills h1 {
	font-family: 'Lobster', cursive;
	margin-bottom: 50px;
	font-size: 60px;
	color: #ffc93c;
	text-shadow: 3px 3px #ff0000;
}

#skills h3 {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 50px;
	color: #ffc93c;
	text-shadow: 1px 1px #ff0000;
}

#skills img {
	height: 6rem;
	width: auto;
	/*background-color: white;*/
	/*border-radius: 10%;*/
}

#skills #data {
	width: 60%;
	height: 50%;
}

#skills #heroku {
	
}

/*end of skills*/

/*start of get in touch*/
#get-in-touch {
	min-height: 50vh;


}

#get-in-touch h1 {
	font-family: 'Lobster', cursive;
	margin-top: 60px;
	margin-bottom: 100px;
	font-size: 40px;
	color: #ffc93c;
	text-shadow: 3px 3px #ff0000;

}



#get-in-touch .fas {
	font-size: 2rem;
	color: indianred;
}
/*end of get in touch*/

.contact {
  visibility: hidden;
}
.email span {
  font-family: 'Lobster', cursive;
  font-size: 15px;
}


.linkin span {
  font-family: 'Lobster', cursive;
  font-size: 15px;
}

.github span {
  font-family: 'Lobster', cursive;
  margin-left: 10px;
  font-size: 15px;
}

.gitlab span {
  font-family: 'Lobster', cursive;
  margin-left: 10px;
  font-size: 15px;
}



.email i {
	color: indianred;
}

.linkin span {
	font-family: 'Lobster', cursive;
	font-size: 15px;
}

.github i {
 color: black;
}


.gitlab i {
 color: darkorange;
}


#get-in-touch ul{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
padding: 0;
display: flex;
justify-content: center;

}

#get-in-touch ul li{
list-style: none;
margin: 0 40px;

}
#get-in-touch ul li .fa{
font-size: 40px;
color: #262626;
line-height: 80px;
transition: .5s;

}
#get-in-touch ul li a{
position: relative;
display: block;
width: 80px;
height: 80px;
background-color: #fff;
text-align: center;
transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
transition: .5s;
box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
#get-in-touch ul li a::before{
content: "";
position: absolute;
top: 10px;
left: -20px;
height: 100%;
width: 20px;
background: #b1b1b1;
transition: .5s;
transform: rotate(0deg) skewY(-45deg);
}
#get-in-touch ul li a::after{
content: "";
position: absolute;
top: 80px;
left: -11px;
height: 20px;
width: 100%;
background: #b1b1b1;
transition: .5s;
transform: rotate(0deg) skewX(-45deg);
}
#get-in-touch ul li a:hover{
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
#get-in-touch ul li:hover .fa{
color: #fff;
}
#get-in-touch ul li a:hover{
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
#get-in-touch ul li:hover:nth-child(2) a{
background: #0077B5;
}

#get-in-touch ul li:hover:nth-child(2) a:before{
background: #036aa0;
}
#get-in-touch ul li:hover:nth-child(2) a:after{
background: #0d82bf;
}
#get-in-touch ul li:hover:nth-child(3) a{
background: #3b5999;
}

#get-in-touch ul li:hover:nth-child(3) a:before{
background: #2e4a86;
}
#get-in-touch ul li:hover:nth-child(3) a:after{
background: #4a69ad;
}
#get-in-touch ul li:hover:nth-child(4) a{
background: orange;
}
#get-in-touch ul li:hover:nth-child(4) a:before{
background: orange;
}
#get-in-touch ul li:hover:nth-child(4) a:after{
background: orange;
}
#get-in-touch ul li:hover:nth-child(1) a{
background: #dd4b39;
}

#get-in-touch ul li:hover:nth-child(1) a:before{
background: #c13929;
}
#get-in-touch ul li:hover:nth-child(1) a:after{
background: #e83322;
}


#get-in-touch ul li:hover:nth-child(5) a{
background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

#get-in-touch ul li:hover:nth-child(5) a:before{
background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
#get-in-touch ul li:hover:nth-child(5) a:after{
background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}


/*footer*/

#/*main-footer {
  background-color: teal;
}

#main-footer .text-center {
 font-family: 'Noto Serif', serif;
 margin-top: 20px;
 color: white;
 font-size: 15px;
}*/

.footer {
  color:white;
}

.footer i {
  font-size: 2rem;
  color: white;
}

.footer i:hover {
  transform: rotate(360deg);
  transition: .5s;
  color: darkorange;
}






/*end of footer*/


/*start of media query*/

/* start of mobile size*/
@media all and (max-width: 500px) {
  /*Header*/

  #header {
    min-height: 160vh; ;
  }
  #header h1 {
    font-size: 3rem;
    color: #ffc93c;
    text-shadow: 3px 3px #ff0000;
  }

#header .btn {
  width: 80%;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0;
  /*margin-bottom: 200px;*/
}

#mary img {
  width: 70%;
  height: 30%;
}

#header hr {
  margin-left: 33%;

}

.intro-banner-vdo-play-btn{
    /*top/right/bottom/left*/
    /*margin:-50px 200px 0 200px;*/
    margin-top: 150px;
    margin-right: 0px;
    margin-bottom: 0;
    margin-left: -100px;
    border-radius:100px;
    z-index:1
}

/*Projects*/

#project {
  margin-top: 300px;
}

  #project .pendulum {
  /*font-family: 'Lobster', cursive;
  margin-top: 50px;
  margin-bottom: 50px;*/
  color: #ffc93c;
  text-shadow: 1px 1px #ff0000;
  font-size: 30px;
}


.base {
  width: 250px;
  border-top: 5px solid gray;
  margin: auto;
  text-align: center;
  position: relative;
  padding: 0 0 30px;
}

	#project img {
		height: 8rem;
		width: auto;
		margin-left: 10%;
	}

  /*Skills*/

  #skills h1 {
   margin-top: 300px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #ffc93c;
    text-shadow: 1px 1px #ff0000;
  }

	#skills img {
		height: 5rem;
		width: auto;
	}

#get-in-touch ul{
  visibility: hidden;
}

.contact {
  visibility: inherit;
}
	
}





/* end of mobile size*/





/*end of media query*/



/*font-family: 'Lobster', cursive;*/
/*font-family: 'Roboto Slab', serif;*/